---
extends: default

ignore:
  - .git/
  - node_modules/

rules:
  line-length:
    max: 120
    level: error
  document-start:
    present: true
  comments:
    min-spaces-from-content: 1
  comments-indentation: enable
  indentation:
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  truthy:
    allowed-values: ["true", "false"]
    check-keys: false
  braces:
    max-spaces-inside: 1
    min-spaces-inside: 0
  brackets:
    max-spaces-inside: 1
    min-spaces-inside: 0
  empty-lines:
    max: 1
    max-start: 0
    max-end: 0
